<div class="container mt30 mb100 YuGothic">

  <p>こんにちは、<%= @user.name %>さん</p>

  <p>家族留学の申し込み内容は以下の通りです。</p>

  <table id="table-info" class="table table-bordered table-striped">

    <tbody>
    <tr>
      <th>名前</th>
      <td><%= @study_abroad.name %></td>
    </tr>
    <tr>
      <th>所属</th>
      <td><%= @study_abroad.belongs %></td>
    </tr>
    <% @days.each_with_index do |day, i| %>
        <tr>
          <th>参加希望日(<%= i + 1 %>)</th>
          <td><%= day.day.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[day.day.wday]})") %> <%= day.time %></td>
        </tr>
    <% end %>
    <tr>
      <th>最寄駅</th>
      <td><%= @study_abroad.station %></td>
    </tr>
    <tr>
      <th>希望理由</th>
      <td><%= @study_abroad.motivation %></td>
    </tr>
    </tbody>
  </table>
  <div class="lh-half">
    <p class="fs15 bold">【家族留学受け入れ回答】</p>
    <p>▼受け入れ希望の場合はこちら（実施時間変更は可能です）</p>
  </div>
  <%= link_to '受け入れる', reply_path(params[:id], email: params[:email]), :class => 'btn btn-lg btn-pink btn-block' %>
  <%# replyとパラメータの渡し方が違うが、confirmモーダルを入れる関係で以下のようにする必要がある %>
  <br>
  <div class="lh-half">
    <p>▼受け入れ辞退の場合はこちら</p>
  </div>
  <%= form_tag(reject_path, method: :post) do %>
      <%= hidden_field_tag 'id', params[:id] %>
      <%= hidden_field_tag 'email', params[:email] %>
      <%= text_field_tag :reason, nil, :required => true, :class => 'validate form-control',placeholder: '辞退理由をご記入ください' %>
      <%= submit_tag '今回は辞退する', :class => 'btn btn-lg btn-gray btn-block' %>
  <% end %>  
</div>



