

<div class="container">

  <h5>こんにちは<%= @user.name %>さん</h5>

  <p>家族留学の申し込み内容は以下の通りです。</p>

  <table>

    <tbody>
    <tr>
      <td>名前:&nbsp;</td>
      <td><%= @log.name %></td>
    </tr>
    <tr>
      <td>所属:&nbsp;</td>
      <td><%= @log.belongs %></td>
    </tr>
    <% @days.each_with_index do |day, i| %>
        <tr>
          <td>参加希望日(<%= i + 1 %>):&nbsp;</td>
          <td><%= day.day %></td>
        </tr>
    <% end %>
    <tr>
      <td>所属: </td>
      <td><%= @log.belongs %></td>
    </tr>
    <tr>
      <td>最寄駅: </td>
      <td><%= @log.station %></td>
    </tr>
    <tr>
      <td>希望理由: </td>
      <td><%= @log.motivation %></td>
    </tr>
    </tbody>
  </table>

  <h4>家族留学を受け入れますか？（家族留学実施日は参加希望日の時間を変えることも可能です。）</h4>
  <%= link_to '受け入れる', reply_path(params[:id], email: params[:email]), :class => 'btn btn-default' %>
  <%= link_to '今回は辞退する', deny_path(log_id: @log.id, email: params[:email]), :class => 'btn btn-default' %>
</div>



