<div class="container mt30 mb100 YuGothic">

  <p>こんにちは、<%= @user.name %>さん</p>

  <p>家族留学の申し込み内容は以下の通りです。</p>

  <table id="table-info" class="table table-bordered table-striped">

    <tbody>
    <tr>
      <th>名前</th>
      <td><%= @log.name %></td>
    </tr>
    <tr>
      <th>所属</th>
      <td><%= @log.belongs %></td>
    </tr>
    <% @days.each_with_index do |day, i| %>
        <tr>
          <th>参加希望日(<%= i + 1 %>)</th>
          <td><%= day.day %></td>
        </tr>
    <% end %>
    <tr>
      <th>最寄駅</th>
      <td><%= @log.station %></td>
    </tr>
    <tr>
      <th>希望理由</th>
      <td><%= @log.motivation %></td>
    </tr>
    </tbody>
  </table>
  <div class="lh-half">
    <p class="fs15">家族留学を受け入れますか？</p>
    <p>(家族留学実施日の時間変更は可能です)</p>
  </div>
  <%= link_to '受け入れる', reply_path(params[:id], email: params[:email]), :class => 'btn btn-lg btn-pink btn-block' %>
  <%= link_to '今回は辞退する', deny_path(log_id: @log.id, email: params[:email]), method: :get, :class => 'btn btn-default', data: { confirm: '本当に辞退しますか？' } %>
</div>



