<div class="container pt20 mb100 YuGothic">
  <h4><%= @user.name %>さん</h4>

  <p>家族留学の問い合わせ内容</p>

  <table id="table-info" class="table table-bordered table-striped">

    <tbody>
    <tr>
      <th>名前</th>
      <td><%= @log.name %></td>
    </tr>
    <tr>
      <th>所属</th>
      <td><%= @log.belongs %></td>
    </tr>
    <tr>
      <th>最寄駅</th>
      <td><%= @log.station %></td>
    </tr>
    <tr>
      <th>希望理由</th>
      <td><%= @log.motivation %></td>
    </tr>
    </tbody>
  </table>

  <hr>

  <h3>受け入れの際に必要な情報</h3>
  <%= form_for(@event) do |f| %>

      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.hidden_field :request_log_id, :value => @log.id %>

      <div class="manma-form-item">
        <div>
          <label for="event_time_select">家族留学の実施予定日</label>
        </div>
        <div>
          <select id="event_time_select" class="form-control mb1" required>
            <option value="">参加者からの希望日時を選択してください</option>
            <% @days.each do |d| %>
                <option value="<%= d.day.strftime('%Y-%m-%d') + ' ' + d.time %>"><%= d.day.strftime('%Y-%m-%d') + ' ' + d.time %></option>
            <% end %>
          </select>

          <div id="event_date_range" style="display: none;">
            <div class="form-inline">
              <div class="form-group">
                <label for="event_start_hour">開始時刻</label>
                <select id="event_start_hour" class="form-control">
                  <!-- Dynamically add dom -->
                </select>
                時
                <select id="event_start_minute" class="form-control" title="event start minute">
                  <!-- Dynamically add dom -->
                </select>
                分
              </div>
            </div>
            <div class="form-inline">
              <div class="form-group">
                <label for="event_finish_hour">終了時刻</label>
                <select id="event_finish_hour" class="form-control">
                  <!-- Dynamically add dom -->
                </select>
                時
                <select id="event_finish_minute" class="form-control" title="event finish minute">
                  <!-- Dynamically add dom -->
                </select>
                分
              </div>
            </div>
            <p>
              <small>※希望時間は5時間以上で記入してください</small>
              <br>
              <small>※例）リクエスト 9:00 ~ 20:00 → 回答 10:00 ~ 18:00</small>
            </p>
            <!-- TODO: Add date time picker to avoid format error -->
            <%= f.label '以下の日程で家族留学を実施します' %>
            <%= f.text_field :event_time, :size => "43", :placeholder => '選択した実施予定日における希望時間を記入', :class => 'form-control', :required => true, :readonly => true %>
          </div>
        </div>
      </div>

      <div class="manma-form-item">
        <div>
          <%= f.label '待ち合わせ場所（駅・出口）' %>
        </div>
        <div>
          <%= f.text_field :meeting_place, :placeholder => '東京駅 南中央出口', :required => true, :class => 'form-control' %>
        </div>
        <div>
          <small>※できるだけ詳しく記入してください。</small>
        </div>
      </div>

      <div class="manma-form-item">
        <div>
          <%= f.label '緊急連絡先'+' ' %>
        </div>
        <div>
          <%= f.text_field :emergency_contact, :placeholder => '090-1234-1234', :required => true, :class => 'form-control' %>
        </div>
      </div>

      <div class="manma-form-item">
        <div>
          <%= f.label '家族留学は初めてですか？' %>
          <small>ない場合は電話で簡単に説明いたします。</small>
        </div>
        <div class="">
          <%= f.radio_button :is_first_time, true, :id => "yes", :checked => false, :onclick => "chkradio(this)" %>
          <%= f.label :is_first_time, 'はい' %>
          <%= f.radio_button :is_first_time, false, :id => "no", :checked => true, :onclick => "chkradio(this)" %>
          <%= f.label :is_first_time, 'いいえ' %>
        </div>
        <div>
          <small>※初めての方には電話で簡単に説明いたします。</small>
        </div>
      </div>

      <div id="ask_tel_time" class="manma-form-item">
        <span class="bold">上記の質問で"はい"と回答した方への質問です。</span>
        <%= f.label 'お電話が繋がりやすい日時を３つほどご記入ください' %>
        <% 3.times do %>
            <div class="pd1">
              <%= text_field_tag 'tel_time[]', '', :placeholder => '8/2 10:00-11:30', :class => 'form-control' %>
            </div>
        <% end %>
      </div>

      <div class="manma-form-item row">
        <div class="col-md-12">
          <%= f.label 'Amazonギフトカードを受け取りますか？' %>
        </div>
        <small class="col-md-6">
          ※「受け入れ準備代・食事代」として参加者の参加費より500円分をAmazonギフトカードでお渡しいたします。
          受け取りを希望する場合は「はい」をご選択ください。
        </small>
        <div class="col-md-12">
          <%= f.radio_button :is_amazon_card, true, :id => "yes", :checked => false %>
          <%= f.label :is_amazon_card, 'はい' %>
          <%= f.radio_button :is_amazon_card, false, :id => "no", :checked => true %>
          <%= f.label :is_amazon_card, 'いいえ' %>
        </div>
      </div>

      <div class="manma-form-item">
        <div>
          <%= f.label '備考' %>
        </div>
        <div>
          <%= f.text_area :information, :size => "42", :placeholder => '備考がある場合はこちらに記入してください', :class => 'form-control' %>
        </div>
      </div>
      <div class="manma-form-item">
        <%= f.submit '家族留学の受け入れを確定する', :class => 'btn btn-lg btn-pink btn-block' %>
      </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $('#event_time_select').on('change', function () {

    var $event_date_range = $('#event_date_range');

    // value の取得と値が存在するかをチェックする
    var value = $(this).val();
    if (value === "") {
        $event_date_range.css({
            "display": "none"
        });
        return;
    }
    // 開始時刻と終了時刻用のselectを表示する
    $event_date_range.css({
      "display": "block"
    });

    // 選択された値を挿入する。
    $('#event_date_event_time').val(value);

    var datetime = $(this).val();
    var datetimeArray = datetime.split(" ");
    var date = datetimeArray[0];

    // 開始時刻の時間を取得
    var option = "";
    var start_time_hour = datetimeArray[1].split(":")[0];
    var end_time_hour = datetimeArray[3].split(":")[0];
    for (var k=start_time_hour; k<=end_time_hour; k++) {
        option += '<option value="'+ k +'">';
        option += k.toString();
        option += '</option>';
    }
    var $event_start_hour = $('#event_start_hour');
    var $event_finish_hour = $('#event_finish_hour');
    // Add to view
    $event_start_hour.append(option);
    $event_finish_hour.append(option);

    // 終了時刻は末尾の要素を選択しておく
    var $finish_hour_options = $('#event_finish_hour option')
    $finish_hour_options[$finish_hour_options.length - 1].selected = true
    
    // 開始時間の分を代入しておく
    var dom = "";
    for (var i=0; i<6; i++) {
        dom += '<option value="'+ i +'0">';
        dom += i + "0";
        dom += '</option>';
    }
    // Add to view
    var $event_start_minute = $('#event_start_minute');
    var $event_finish_minute = $('#event_finish_minute');
    $event_start_minute.append(dom);
    $event_finish_minute.append(dom);

    // 値が変わったら変更を表示する
    $(document).on('change',
        '#event_start_hour, #event_start_minute, #event_finish_hour, #event_finish_minute',
        function () {
            var start_hour = $event_start_hour.val();
            var start_minute = $event_start_minute.val();
            var finish_hour = $event_finish_hour.val();
            var finish_minute = $event_finish_minute.val();
            var $event_date_event_time = $('input#event_date_event_time');
            $event_date_event_time.val(
                date + ' ' + start_hour + ':' + start_minute + ' ~ ' + finish_hour + ':' + finish_minute
            )
    })

  });

  function chkradio(obj) {
    var objID = obj.getAttributeNode('id').nodeValue;
    var chkID = document.getElementById('ask_tel_time');
    if (objID === 'yes') {
      chkID.style.visibility = 'visible';
      /*候補日時の入力欄表示*/
    }
    else {
      chkID.style.visibility = 'hidden';
      /*非表示*/
    }
  }
  function chkradio_load() {
    var chkID = document.getElementById('ask_tel_time');
    var input = document.getElementById('no');
    if (input.checked) {
      chkID.style.visibility = 'hidden';
    }
  }

  window.onload = chkradio_load;
</script>
