<div class="container">
  <h5><%= @user.name %>さん</h5>

  家族留学の問い合わせ内容

  <table>

    <tbody>
    <tr>
      <td>名前:&nbsp;</td>
      <td><%= @log.name %></td>
    </tr>
    <tr>
      <td>所属:&nbsp;</td>
      <td><%= @log.belongs %></td>
    </tr>
    <tr>
      <td>所属: </td>
      <td><%= @log.belongs %></td>
    </tr>
    <tr>
      <td>最寄駅: </td>
      <td><%= @log.station %></td>
    </tr>
    <tr>
      <td>希望理由: </td>
      <td><%= @log.motivation %></td>
    </tr>
    </tbody>
  </table>

  <hr>

  <h4>問い合わせに対する返事</h4>


</div>