<div class="container mb100 YuGothic">
  <h5><%= @user.name %>さん</h5>

  家族留学の問い合わせ内容

  <table id="table-small" class="table table-bordered table-striped">

    <tbody>
    <tr>
      <th>名前</th>
      <td><%= @log.name %></td>
    </tr>
    <tr>
      <th>所属</th>
      <td><%= @log.belongs %></td>
    </tr>
    <tr>
      <th>最寄駅</th>
      <td><%= @log.station %></td>
    </tr>
    <tr>
      <th>希望理由</th>
      <td><%= @log.motivation %></td>
    </tr>
    </tbody>
  </table>

  <hr>

  <h3>家族留学受け入れの際に必要な情報</h3>
  <%= form_for(@event) do |f| %>

      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.hidden_field :request_log_id, :value => @log.id %>

      <div class="row">
        <div>
          <label for="event_time_select">家族留学の実施予定日</label>
        </div>
        <div>
          <select id="event_time_select">
            <option value="">選択してください</option>
            <% @days.each do |d| %>
                <option value="<%= d.day.strftime('%Y-%m-%d') + ' ' + d.time %>"><%= d.day.strftime('%Y-%m-%d') + ' ' + d.time %></option>
            <% end %>
          </select>
          <!-- TODO: Add date time picker to avoid format error -->
          <%= f.text_field :event_time, :size => "43", :placeholder => '選択した実施予定日における希望時間を記入', :required => true %>
          <p>※実施予定日で指定された時間の中で５時間以上の長さで記入してください</p>
        </div>
      </div>

      <div class="row">
        <div>
          <%= f.label '待ち合わせ場所（駅・出口）' %>
        </div>
        <div>
          <%= f.text_field :meeting_place, :placeholder => '東京駅 南中央出口', :required => true %>
        </div>
        <div>
          <small>※できるだけ詳しく記入してください。</small>
        </div>
      </div>

      <div class="row">
        <div>
          <%= f.label '緊急連絡先'+' ' %>
        </div>
        <div>
          <%= f.text_field :emergency_contact, :placeholder => '090-1234-1234', :required => true %>
        </div>
      </div>

      <div class="row">
        <%= f.label 'これまでに家族留学を受け入れた経験はありますか？' %>
        <%= f.check_box :is_first_time, {}, checked_value = true, unchecked_value = false %>
        <small>※初めての方には電話で簡単に説明いたします。</small>
      </div>

      <div class="row" id="ask_tel_time">
        <div>
          <%= f.label '家族留学の受け入れが初めての方への質問です。電話面談（10分程度）が可能な候補日時を3つ教えてください。' %>
        </div>
        <div>
          <% 3.times do %>
              <%= text_field_tag 'tel_time[]' %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div>
          <%= f.label '備考' %>
        </div>
        <div>
          <%= f.text_area :information, :size => "100", :placeholder => '備考がある場合はこちらに記入してください' %>
        </div>
      </div>
      <div>
        <%= f.submit '家族留学の受け入れを確定する', :class => 'btn btn-lg btn-pink btn-block' %>
      </div>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">
    $('#event_time_select').on('change', function () {
        $('#event_date_event_time').val($(this).val());
    });

    $('#event_date_is_first_time').on('click', function () {
        $('#ask_tel_time').toggle();
    });
</script>