<div class="container mt30 pt200 fs50 YuGothic text-center">
  <p>家族留学を受け入れていただき、ありがとうございます。</p>
</div>


<table id="table-info" class="table table-bordered table-striped">
  <tbody>
  <tr>
    <td>日程: </td>
    <td><%= @event.hold_date %></td>
  </tr>
  <tr>
    <td>開始時間: </td>
    <td><%= @event.start_time.strftime("%H時%M分") %></td>
  </tr>
  <tr>
    <td>終了時間: </td>
    <td><%= @event.end_time.strftime("%H時%M分") %></td>
  </tr>
  <tr>
    <td>待ち合わせ場所</td>
    <td><%= @event.meeting_place %></td>
  </tr>
  <tr>
    <td>備考</td>
    <td><%= @event.nil_replace %></td>
  </tr>
  </tbody>
</table>