<%= form_tag({action: :search}, {method: :get}) do %>
    <div class="row">
      <div class="input-field col s12">
        <%= text_field_tag :address, @address, placeholder: '東京都千代田区1-1-1' %>
        <%= label_tag :address, '家庭検索' %>
      </div>
    </div>

    <label>検索条件</label>
    <% none = Settings.job_style.none %>
    <% both = Settings.job_style.both %>
    <% homemaker = Settings.job_style.homemaker %>
    <%= radio_button_tag 'job_style', none, checked = @job_style == none ? true : false, id: 'job_style_none' %>
    <%= label_tag 'job_style_none', Settings.job_style.str.none %>
    <%= radio_button_tag 'job_style', both, checked = @job_style == both ? true : false, id: 'job_style_dual' %>
    <%= label_tag 'job_style_dual', Settings.job_style.str.both %>
    <%= radio_button_tag 'job_style', homemaker, checked = @job_style == homemaker ? true : false, id: 'job_style_single' %>
    <%= label_tag 'job_style_single', Settings.job_style.str.homemaker %>
    <%= check_box_tag 'is_male_ng', 'checked', checked = @is_male_ng, id: 'is_male_ng' %>
    <%= label_tag 'is_male_ng', '男性NG' %>

    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" name="action" type="submit">検索<i class="material-icons left">search</i>
        </button>
      </div>
    </div>
<% end %>
