<%= form_tag({action: :search}, {method: :get}) do %>
    <%= label_tag :address, '住所:' %>
    <%= text_field_tag :address %>
    <%= submit_tag '検索' %><br>
    <p>検索条件</p>
    <%= radio_button_tag 'job_style[]', 1, checked = false, :id => "job_style_1" %>
    <%= label_tag "job_style_1", '共働き' %>
    <%= radio_button_tag 'job_style[]', 0, checked = false, :id => "job_style_0" %>
    <%= label_tag "job_style_0", '専業主婦' %><br>
    <%= radio_button_tag 'is_male_ok[]', 1, checked = false, :id => "is_male_ok_1" %>
    <%= label_tag "is_male_ok_1", '男性OK' %>
    <%= radio_button_tag 'is_male_ok[]', 0, checked = false, :id => "is_male_ok_0" %>
    <%= label_tag "is_male_ok_0", '男性NG' %>
<% end %>
