<%= render 'form' %>
<% if @search_result_address.present? %>
    <p>検索地点: <%= @search_result_address %></p>
<% end %>

<% if @candidate_hash.present? %>
    <%= form_tag({controller: :mails, action: :new}, {method: :get}) do %>
        <table border="1">
          <thead>
          <tr>
            <th></th>
            <th>名前</th>
            <th>候補先</th>
            <th>距離(km)</th>
            <th>働き方</th>
            <th>子どもの数</th>
            <th>第一子の生年月日</th>
            <th>男性</th>
          </tr>
          </thead>
          <tbody>
          <% @candidate_hash.each_with_index do |(location, distance), index| %>
              <tr>
                <td>
                  <%= check_box_tag 'user_id[]', location.user.id, checked = false, :id => "user_id_#{location.user.id}" %>
                  <%= label_tag "user_id_#{location.user.id}", index + 1 %>
                </td>
                <td><%= link_to location.user.name, admin_family_path(location.user.id) %></td>
                <td><%= location.address %></td>
                <td><%= distance.to_f %></td>
                <td><%= job_style_str(location.user.profile_family.job_style) %></td>
                <td><%= location.user.profile_family.number_of_children %></td>
                <td><%= formatted_date(location.user.profile_family.child_birthday) %></td>
                <td><%= is_male_ok_str(location.user.profile_family.is_male_ok) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= submit_tag 'メール作成' %>
    <% end %>
<% end %>
