<% breadcrumb :locations, @locations  %>
<%= render 'form' %>
<% if @search_result_address.present? %>
    <p>検索地点: <%= @search_result_address %></p>
<% end %>

<% if @candidate_hash.present? %>
    <%= form_tag({controller: :mails, action: :new}, {method: :get}) do %>
        <table border="1">
          <thead>
          <tr>
            <th></th>
            <th>名前</th>
            <th>候補先</th>
            <th>打診回数</th>
            <th>実施回数</th>
            <th>最終打診日</th>
          </tr>
          </thead>
          <tbody>
          <% @candidate_hash.each_with_index do |(location, distance), index| %>
            <% if location && location.user.present? %>
              <tr>
                <td>
                  <%= check_box_tag 'user_id[]', location.user.id, checked = false, :id => "user_id_#{location.user.id}" %>
                  <%= label_tag "user_id_#{location.user.id}", index + 1 %>
                </td>
                <td><%= location.user.name %></td>
                <td><%= location.address %></td>
                <td><%= location.user.request_times %></td>
                <td><%= location.user.execution_number %></td>
                <td><%= location.user.last_request_day %></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
        <div class="fixed-action-btn">
            <button class="btn-floating btn-large red" name="action" type="submit"><i class="large material-icons">email</i>
            </button>
        </div>
      <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, options);
      });
      $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
      });
    </script>        
    <% end %>
<% end %>
