<% breadcrumb :edit_family, @family  %>
<div class="row">
  <%= form_tag(admin_family_path(@family.id), method: :put, class: 'col s12') do %>
    <fieldset>
      <div class="row">
        <div class="input-field col  s4">
          <%= label_tag :name, '氏名' %>
        </div>
        <div class="input-field col  s4">
          <%= label_tag :kana, 'ふりがな' %>
        </div>
        <div class="input-field col  s4">
          <%= label_tag :gender, '性別' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <%= text_field_tag :name, @family.name, class: 'validate' %>
        </div>
        <div class="input-field col s4">
          <%= text_field_tag :kana, @family.kana, class: 'validate' %>
        </div>
        <div class="input-field col s4">
          <%= select_tag :gender, options_for_select(
            User.genders.map {|k, v| [k, v]}, @family.gender
          ), class: 'browser-default' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <%= email_field_tag :email_pc, @family.contact&.email_pc, class: 'validate' %>
          <%= label_tag :email_pc, 'PCメールアドレス' %>
        </div>
        <div class="input-field col s4">
          <%= email_field_tag :email_phone, @family.contact&.email_phone %>
          <%= label_tag :email_phone, '携帯メールアドレス' %>
        </div>
        <div class="input-field col s4">
          <%= telephone_field_tag :phone_number, @family.contact&.phone_number, class: 'validate' %>
          <%= label_tag :phone_number, '携帯電話番号' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= label_tag :address, 'ご住所' %>
        </div>
        <div class="input-field col s6">
          <%= label_tag :job_style, '現在の働き方' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= text_field_tag :address, @family.location&.address, class: 'validate' %>
        </div>
        <div class="input-field col s6">
          <%= select_tag :job_style, options_for_select(
            ProfileFamily.job_styles.map {|k, v| [k, v]}, @family.profile_family&.job_style
          ), class: 'browser-default' %>
        </div>
      </div>
      <span>お母さまについて</span>
      <div class="row">
        <div class="input-field col s3">
          <%= text_field_tag :birthday_mother, @mother&.birthday&.strftime('%Y-%m-%d'), class: 'datepicker picker__input', readonly: true %>
          <%= label_tag :birthday_mother, '生年月日' %>
        </div>
        <div class="input-field col s3">
          <%= text_field_tag :hometown_mother, @mother&.hometown, class: 'validate' %>
          <%= label_tag :hometown_mother, '出身地' %>
        </div>
        <div class="input-field col s3">
          <%= number_field_tag :first_childbirth_mother_age, @family&.profile_family&.first_childbirth_mother_age, class: 'validate' %>
          <%= label_tag :first_childbirth_mother_age, '第一子をご出産された年齢' %>
        </div>
        <div class="input-field col s3">
          <%= number_field_tag :married_mother_age, @family.profile_family&.married_mother_age, class: 'validate' %>
          <%= label_tag :married_mother_age, 'ご結婚された年齢' %>
        </div>
      </div>
      <%= label_tag :job_domain_mother, '職業' %>
      <div class="row">
        <div class="input-field col s4">
          <%= select_tag :job_domain_mother, options_for_select(
            JobDomain.job_domains.map {|k, v| [k, v]}, @mother&.job_domain_id
          ), class: 'browser-default' %>
        </div>
        <div class="input-field col s4">
          <%= text_field_tag :company_mother, @mother&.company, class: 'validate' %>
          <%= label_tag :company_mother, '勤務先' %>
        </div>
        <div class="input-field col s4">
          <%= text_field_tag :career_mother, @mother&.career, class: 'validate' %>
          <%= label_tag :career_mother, 'キャリア変遷' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= text_field_tag :is_abroad_mother, @mother&.has_experience_abroad, class: 'validate' %>
          <%= label_tag :is_abroad_mother, '海外留学、勤務のご経験の有無' %>
        </div>
      </div>
      <span>お父さまについて</span>
      <div class="row">
        <div class="input-field col s4">
          <%= text_field_tag :birthday_father, @father&.birthday&.strftime('%Y-%m-%d'), class: 'datepicker picker__input', readonly: true %>
          <%= label_tag :birthday_father, '生年月日' %>
        </div>
        <div class="input-field col s4">
          <%= text_field_tag :hometown_father, @father&.hometown, class: 'validate' %>
          <%= label_tag :hometown_father, '出身地' %>
        </div>
        <div class="input-field col s4">
          <%= number_field_tag :married_age_father, @family.profile_family&.married_father_age, class: 'validate' %>
          <%= label_tag :married_age_father, 'ご結婚された年齢' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <%= label_tag :job_domain_father, '職業' %>
        </div>
        <div class="input-field col s4">
          <%= label_tag :company_father, '勤務先' %>
        </div>
        <div class="input-field col s4">
          <%= label_tag :career_father, 'キャリア変遷' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <%= select_tag :job_domain_father, options_for_select(
            JobDomain.job_domains.map {|k, v| [k, v]}, @father&.job_domain_id
          ), class: 'browser-default' %>
        </div>
        <div class="input-field col s4">
          <%= text_field_tag :company_father, @father&.company, class: 'validate' %>
        </div>
        <div class="input-field col s4">
          <%= text_field_tag :career_father, @father&.career, class: 'validate' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= text_field_tag :is_abroad_father, @father&.has_experience_abroad, class: 'validate' %>
          <%= label_tag :is_abroad_father, '海外留学、勤務のご経験の有無' %>
        </div>
      </div>
      <span>お子さまについて</span>
      <div class="row">
        <div class="input-field col s6">
          <%= number_field_tag :number_of_children, @family.profile_family&.number_of_children, class: 'validate' %>
          <%= label_tag :number_of_children, '人数' %>
        </div>
        <div class="input-field col s6">
          <%= text_field_tag :child_birthday, @family.profile_family&.child_birthday&.strftime('%Y-%m-%d'), class: 'datepicker picker__input', readonly: true %>
          <%= label_tag :child_birthday, '生年月日' %>
        </div>
      </div>
      <span>ご経験について</span>
      <div class="row">
        <div class="input-field col s4">
          <%= label_tag :has_time_shortening_experience, '時短勤務のご経験の有無' %>
        </div>
        <div class="input-field col s4">
          <%= label_tag :has_childcare_leave_experience, '育休のご経験の有無' %>
        </div>
        <div class="input-field col s4">
          <%= label_tag :has_job_change_experience, '転職のご経験の有無' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <%= select_tag :has_time_shortening_experience, options_for_select(
            ProfileFamily.has_time_shortening_experiences.map {|str, num| [str, str]}, @family.profile_family&.has_time_shortening_experience
          ), class: 'browser-default' %>
        </div>
        <div class="input-field col s4">
          <%= select_tag :has_childcare_leave_experience, options_for_select(
            ProfileFamily.has_childcare_leave_experiences.map {|str, num| [str, str]}, @family.profile_family&.has_childcare_leave_experience
          ), class: 'browser-default' %>
        </div>
        <div class="input-field col s4">
          <%= select_tag :has_job_change_experience, options_for_select(
            ProfileFamily.has_job_change_experiences.map {|str, num| [str, str]}, @family.profile_family&.has_job_change_experience
          ), class: 'browser-default' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <%= label_tag :is_photo, '写真をHPやFacebookで使用可能？' %>
        </div>
        <div class="input-field col s4">
          <%= label_tag :is_report, 'レポートをHPやFacebookで使用可能？' %>
        </div>
        <div class="input-field col s4">
          <%= label_tag :is_male_ok, '男性OK？' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <%= select_tag :is_photo_ok, options_for_select(
            ProfileFamily.available_statuses.map {|k, v| [k, v]}, @family.profile_family&.is_photo_ok
          ), class: 'browser-default' %>
        </div>
        <div class="input-field col s4">
          <%= select_tag :is_report_ok, options_for_select(
            ProfileFamily.available_statuses.map {|k, v| [k, v]}, @family.profile_family&.is_report_ok
          ), class: 'browser-default' %>
        </div>
        <div class="input-field col s4">
          <%= select_tag :is_male_ok, options_for_select(
            ProfileFamily.is_male_ok_statuses.map {|k, v| [k, v]}, @family.profile_family&.is_male_ok
          ), class: 'browser-default' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= text_field_tag :opinion_or_question, @family.profile_family&.opinion_or_question, class: 'validate' %>
          <%= label_tag :opinion_or_question, 'その他、ご意見/ご質問など' %>
        </div>
      </div>
    </fieldset>
      <p>
        <button class="btn waves-effect waves-light" name="action" type="submit">更新</button>
      </p>
  <% end %>

  <%= form_tag(admin_family_path(@family.id), method: :delete, class: 'col s12', onsubmit: 'return check()') do %>
      <p>
        <button class="btn waves-effect waves-red" name="action" type="submit">削除</button>
      </p>
  <% end %>

  <script>
    $('.datepicker').pickadate({
      monthsShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
      monthsFull: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
      weekdaysFull: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
      weekdaysShort: ['日', '月', '火', '水', '木', '金', '土'],
      today: '今日',
      clear: 'リセット',
      close: '閉じる',
      format: 'yyyy-mm-dd',
      formatSubmit: 'yyyy/mm/dd'
    });
  </script>

  <script>
    function check() {
      if (window.confirm('本当に削除しますか？')){
        return true
      } else {
        return false
      }
    }
  </script>
</div>
