<% if admin_signed_in? %>
    ログイン中: <%= current_admin.email %>
<% end %>
<p>右上のボタンから打診メールの作成が可能です。</p>

<%= button_to('スプレッドシートから家族情報を取得', admin_spread_sheets_fetch_family_path, method: :get, class: 'btn waves-effect waves-light') %>

<h2>家庭一覧</h2>
<table>
  <% @user_list.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= user.name %></td>
        <td><%= user.contact.email_pc %></td>
      </tr>
  <% end %>
</table>
