<table>
  <thead>
  <tr>
    <th>名前</th>
    <th>住所</th>
    <th>働き方</th>
    <th>子供の数</th>
    <th>男性</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= @family.name %>
    </td>
    <td>
      <%= @family.location.address %>
    </td>
    <td>
      <%= job_style_str(@family.profile_family.job_style) %>
    </td>
    <td>
      <%= @family.profile_family.number_of_children %>
    </td>
    <td>
      <%= is_male_ok_str(@family.profile_family.is_male_ok) %>
    </td>
  </tr>
  </tbody>
</table>
