<table>
  <thead>
  <tr>
    <th>名前</th>
    <th>住所</th>
    <th>共働き</th>
    <th>子供の数</th>
    <th>男性OK</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= @family.name %>
    </td>
    <td>
      <%= @family.location.address %>
    </td>
    <td>
      <% if @family.profile_family.job_style == 0 %>
          <%= '○' %>
      <% elsif @family.profile_family.job_style == 1 %>
          <%= '×' %>
      <% end %>
    </td>
    <td>
      <%= @family.profile_family.number_of_children %>
    </td>
    <td>
      <% if @family.profile_family.is_male_ok == 1 %>
          <%= 'OK' %>
      <% elsif @family.profile_family.is_male_ok == 0 %>
          <%= 'NG' %>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>
