<% breadcrumb :confirm_mail, @users  %>
<p>メールを送信する家庭一覧</p>
<table>
  <tr>
    <th>名前</th>
    <th>住所</th>
    <th>メールアドレス</th>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.location.address %></td>
        <td><%= user.contact.email_pc %></td>
      </tr>
  <% end %>
</table>

<p>送信先メールアドレス（コピー用）</p>
<p><%= (@users.map { |user| user.contact.email_pc }).join(',') %></p>


<%= form_tag({action: :complete}, {method: :post}) do %>
    <% @users.each do |user| %>
        <%= hidden_field_tag 'user_id[]', user.id, id: "user_id_#{user.id}" %>
    <% end %>

    <fieldset>
      <div class="row">
        <div class="input-field col s12">
          <%= text_field_tag :title, @title, readonly: true, class: 'validate' %>
          <%= label_tag :title, 'タイトル(編集する場合は、前のページに戻って編集して下さい' %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= text_area_tag :body, @body, size: '20x10', readonly: true, wrap: 'hard', style: 'height: 1000px', class: 'materialize-textarea' %>
          <%= label_tag :body, '本文(前のページに戻って編集して下さい)' %>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" name="action" type="submit" id="submit_mail">上記の内容で送信<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
<% end %>


<script type="application/javascript">
  $(function() {
    document.title = "送信確認";
  });
  $('#submit_mail').on('click', function () {
      // すぐdisabledにすると送信されないので。
      setInterval(function () {
          $('#submit_mail').prop('disabled', true);
      }, 500);
  })
</script>