<h2>打診メール最終確認</h2>
<ol>
  <% @users.each do |user| %>
    <li><%= user.name %>, <%= user.location.address %>, <%= user.contact.email_pc %></li>
  <% end %>
</ol>
<p>メールアドレス</p>
<p><%= (@users.map { |user| user.contact.email_pc }).join(',') %></p>


<%= form_tag({action: :complete}, {method: :post}) do %>
    <% @users.each do |user| %>
        <%= hidden_field_tag 'user_id[]', user.id, id: "user_id_#{user.id}" %>
    <% end %>
    <p>タイトル(編集不可)</p>
    <%= text_field_tag :title, @title, readonly: true %>
    <p>本文(編集不可)</p>
    <%= text_area_tag :body, @body, size: '20x10', readonly: true, wrap: 'hard', style: 'height: 1000px' %>
    <%= submit_tag value='以上の内容で送信' %>
<% end %>
