<h2>打診メール作成</h2>
<p>メールを送信する家庭一覧</p>
<ol>
<% @users.each do |user| %>
  <li><%= user.name %>, <%= user.location.address %>, <%= user.contact.email_pc %></li>
<% end %>
</ol>

<%= form_tag(admin_mails_confirm_path, method: :post) do %>
  <%= label_tag :student_name, '学生氏名' %>
  <%= text_field_tag 'mail[student_name]'  %>
  <%= label_tag :motivation, '参加動機' %>
  <%= text_field_tag 'mail[motivation]' %>
  <%= label_tag '参加希望日時(打診日から2週間後~１ヶ月半以内' %><br>
   <p>TODO: 現在時刻を表示したい</p>
  <% 5.times do |i|  %>
    <%= label_tag "date#{i+1}", "第#{i+1}希望" %>
    <%= datetime_field :mail, "date[date#{i+1}]", { :format => "%Y-%m-%d %H:%M" } %>
  <% end %>
  <p>TODO: テンプレートの本文を表示する</p>
  <%= text_area :mail, :body, size: '20x10', style: 'height: 500px' %>
  <%= submit_tag value='確認' %>
<% end %>
