<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">準備中</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to '家庭一覧', admin_family_index_path, :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to '参加者一覧', admin_participants_path, :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to '打診メール作成', admin_locations_search_path, :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'メール送信履歴', admin_mails_histories_path, :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'ログアウト', admin_sign_out_path, :class => 'grey-text text-lighten-3' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 - <%= Date.today.strftime('%Y') %> manma inc.
      <%= link_to "Sign out", admin_sign_out_path, :class => 'grey-text text-lighten-4 right' %>
    </div>
  </div>
</footer>