<header>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <%= link_to 'TOP', admin_family_index_path, :class => 'brand-logo'  %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to '家庭一覧', admin_family_index_path, :class => 'grey-text text-lighten-4 right' %></li>
          <li><%= link_to '参加者一覧', admin_participants_path, :class => 'grey-text text-lighten-4 right' %></li>
          <li><%= link_to '打診メール作成', admin_locations_search_path, :class => 'grey-text text-lighten-4 right' %></li>
          <li><%= link_to 'メール送信履歴', admin_mails_histories_path, :class => 'grey-text text-lighten-4 right' %></li>
          <li><%= link_to 'ニュースレター', admin_news_letter_index_path, :class => 'grey-text text-lighten-4 right' %></li>
          <li><%= link_to 'ログアウト', admin_sign_out_path, :class => 'grey-text text-lighten-4 right' %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>