<!DOCTYPE html>
<html>
  <head>
    <title>Admin ManmaSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <%= render 'layouts/admin/header' %>
      <main>
        <div class="container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </main>
    <%= render 'layouts/admin/footer' %>
    <%= render 'layouts/ga' %>
  </body>
</html>
