
<p><%= @user.name %>様</p>


<p>この度は、家族留学の受け入れにご協力くださり、大変ありがとうございます。</p>

<p>下記の内容で、家族留学の実施が確定いたしました。</p>

<p>今回初めて受け入れいただくご家庭には <br>
  家族留学日以前にmanma担当者と電話にて事前説明会(所要時間10分程度)を実施します。</p>

<p>記載いただきました希望日時にご連絡させていただきます。<br>
  万一面談日時に都合がつかなくなった場合は <br>
  速やかにinfo@manma.coへご連絡ください。
</p>

<p>また受け入れ前に、下記リンクより <br>
  「家族留学受け入れガイド」に改めて目を通していただくようお願いします。</p>
<p>https://docs.google.com/presentation/d/1B-dcCUa0PdxKyU5xlP8rvFf87oNM6BQoQEBsCD0FfTo/edit?usp=sharing</p>

<p>それでは、実施予定日の10日前に参加者と <br>
  お繋ぎさせていただきますので、いましばらくお待ちください。</p>

<p>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</p>

<table>
  <tbody>
  <tr>
    <td>参加者名: </td>
    <td><%= @student.name %> さん</td>
  </tr>
  <tr>
    <td>参参加者の所属名: </td>
    <td><%= @student.belongs %></td>
  </tr>
  <tr>
    <td>参加者の連絡先: </td>
    <td><%= @student.emergency %></td>
  </tr>
  <tr>
    <td>実施日時: </td>
    <td><%= @event.hold_date %></td>
  </tr>
  <tr>
    <td>実施開始時間: </td>
    <td><%= @event.start_time.strftime("%H時%M分") %></td>
  </tr>
  <tr>
    <td>実施終了時間: </td>
    <td><%= @event.end_time.strftime("%H時%M分") %></td>
  </tr>
  <tr>
    <td>集合場所: </td>
    <td><%= @event.meeting_place %></td>
  </tr>
  </tbody>
</table>

<p>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</p>

<p>また、お子さんの体調不良等で急な予定の変更がある場合は <br>
  info@manma.co までご連絡ください。</p>

<p>実施日の過ごし方やその他受け入れにあたり <br>
  ご質問などございましたらお気軽にご連絡ください。<br>
  引き続き、どうぞよろしくお願いいたします。
</p>


manma

