<p><%= @user.name %> さま</p>

<p>こんにちは、manma マッチング担当です。 <br>
  いつも大変お世話になっております。</p>

<p>先日お送りしたメールはご確認いただけましたでしょうか。 <br>
  現段階で受け入れいただけるご家庭が見つかっていないため、引き続き受け入れていただけるご家庭を募集しております。ご協力いただけましたら幸いです。</p>

<p>下記に、以前お送りしたメールを再度添付させていただきます。</p>

<p>ご検討のほど、どうぞ宜しくお願い致します。</p>
<br>
<p>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</p>

<p>家族留学を受け入れて頂きたく、ご連絡させていただきました。</p>
<p><%= @user.name %>さまのお宅への家族留学を希望されている方がいらっしゃいます。</p>

<p>打診内容をご確認いただき、受け入れ可能な日程がございましたら
下記URLよりご回答をお願いいたします。</p>

<p style="font-weight: bold">○  参加者プロフィール</p>

<table>
  <tbody>
  <tr>
    <td>氏名：</td>
    <td><%= @log.name %></td>
  </tr>
  <tr>
    <td>所属：</td>
    <td><%= @log.belongs %></td>
  </tr>
  <tr>
    <td>最寄り駅：</td>
    <td><%= @log.station %></td>
  </tr>
  <tr>
    <td>参加動機：</td>
    <td><%= @log.motivation %></td>
  </tr>
  </tbody>
</table>

<p style="font-weight: bold">【候補日】</p>
<ul>
  <% @days.each do |day| %>
      <li><%= day.day %> <%= day.time %></li>
  <% end %>
</ul>


<p style="font-weight: bold">【回答用URL】</p>
<a href="<%= @url %>"><%= @url %></a>
<p>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</p>
<br>

<p style="font-weight: bold">＊  注意事項＊</p>
<p>この受け入れのお願いは、複数のご家庭にお送りさせていただいております。 <br>
  最初に受け入れ可能とご連絡いたただいたご家庭が発生した時点で、マッチング成立となり、このURLは無効となりますので、予めご了承くださいませ。</p>


<p>その他、何かご不明な点がございましたら
info@manma.co(マッチング担当)までご連絡ください。</p>

<p>どうぞ宜しくお願い致します。</p>

