<% breadcrumb :participants, @participant_list  %>

<% if admin_signed_in? %>
    ログイン中: <%= current_admin.email %>
<% end %>
<p>右上のボタンから打診メールの作成が可能です。</p>

<%= button_to('スプレッドシートから参加者登録情報を取得', admin_spread_sheets_fetch_participant_path, method: :get, class: 'btn waves-effect waves-light') %>

<table border="1" role="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>名前</th>
      <th>かな</th>
      <th>メールアドレス</th>
      <th>所属</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @participant_list.each_with_index do |p, index| %>
      <tr role="row" class="odd">
        <td><%= index + 1 %></td>
        <td><%= p.name %></td>
        <td><%= p.kana %></td>
        <td><%= p.email %></td>
        <td><%= p.belong %></td>
        <td><%= button_to('編集', edit_admin_participant_path(p.id), method: :get, class: 'btn waves-effect waves-light') %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<div>
</div>
