<%= render 'form' %>
<% if @search_result_address.present? %>
    <p>検索地点: <%= @search_result_address %></p>
<% end %>

<% if @candidate_hash.present? %>
    <%# TODO: アクション先はメール確認画面にする %>
    <%= form_tag({action: :search}, {method: :get}) do %>
    <table border="1">
      <thead>
      <tr>
        <th></th>
        <th>候補先</th>
        <th>距離(km)</th>
      </tr>
      </thead>
      <tbody>
      <% @candidate_hash.each_with_index do |(address, distance), index| %>
          <tr>
            <td>
              <%= check_box_tag 'address_id[]', index, checked = false, :id => "address_id_#{index}" %>
              <%= label_tag "address_id_#{index}", index + 1 %>
            </td>
            <td><%= address %></td>
            <td><%= distance %></td>
          </tr>
      <% end %>
      </tbody>

    </table>
    <%= submit_tag '打診する' %>
    <% end %>
<% end %>
