<%= render 'form' %>
<% if @search_result_address.present? %>
    <p>検索地点: <%= @search_result_address %></p>
<% end %>

<% if @candidate_hash.present? %>
    <%# TODO: アクション先はメール確認画面にする %>
    <%= form_tag({action: :search}, {method: :get}) do %>
        <table border="1">
          <thead>
          <tr>
            <th></th>
            <th>名前</th>
            <th>候補先</th>
            <th>距離(km)</th>
          </tr>
          </thead>
          <tbody>
          <% @candidate_hash.each_with_index do |(location, distance), index| %>
              <tr>
                <td>
                  <%= check_box_tag 'user_id[]', index, checked = false, :id => "user_id_#{location.user.id}" %>
                  <%= label_tag "user_id_#{location.user.id}", index + 1 %>
                </td>
                <td><%= location.user.name %></td>
                <td><%= location.address %></td>
                <td><%= distance %></td>
              </tr>
          <% end %>
          </tbody>

        </table>
        <%= submit_tag '打診する' %>
    <% end %>
<% end %>
