<!DOCTYPE html>
<html>
<head>
  <title>manma | 確認画面</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'request/request', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= stylesheet_link_tag 'custom', :media => 'all' %>
  <%= javascript_include_tag 'request', 'data-turbolinks-track' => 'reload' %>
</head>

<body>
<header class="bg-pink pd10">
  <%= image_tag("logo.png", :width => "300") %>
</header>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>
<div id="footer">
  <p>Copyright (C) 2014 - 2017 manma, All right reserved.</p>
</div>
</body>
</html>

